<!doctype html>

<html lang="en">

<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-64K2E2Z13D"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-64K2E2Z13D');
</script>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ page.title }} · {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | strip_newlines }}">
</head>

<body>
  {% include header.html %}
  {% include nav.html %}
  <div class="container">
    {{ content }}
  </div>
  {% include footer.html %}

</body>

</html>
